<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>NoComment - Options</title>
    <link rel="stylesheet" href="options.css" />
    <link rel="icon" href="favicon.png" />
  </head>

  <body>
    <header id="optionsHeader">
      <img src="icon-128.png" alt="NoComment Extension Icon" />
      <h1>NoComment</h1>
      <h4>Extension Settings</h4>
    </header>

    <div id="tabs">
      <nav>
        <ul>
          <li><a href="#tabs-1">General Settings</a></li>
          <li><a href="#tabs-2">Block List/Allow List</a></li>
          <li><a href="#tabs-3">About/How To Use</a></li>
        </ul>
      </nav>

      <article id="tabs-1" data-tab-index="0">
        <h4>Block all comments by default?</h4>

        <section id="radio">
          <div>
            <input type="radio" id="radio1" name="radio" value="no" />
            <label for="radio1" class="ui-corner-all">No (except Block List)</label>
          </div>

          <div>
            <input type="radio" id="radio2" name="radio" value="yes" />
            <label for="radio2" class="ui-corner-all">Yes (except Allow List)</label>
          </div>
        </section>

        <h4>How should the comment section be displayed?</h4>

        <section>
          <select id="visualDisplay">
            <option value="collapse">Collapse comment section (take up no space)</option>
            <option value="hidden">Visibility hidden (hide section but keep usual space)</option>
          </select>
        </section>

        <h5 class="notification">Remember to save your general settings below</h5>

        <section>
          <button type="button" id="saveSettings">Save General Settings</button>
          <h5 class="notification-alert">
            <!--  Generated -->
          </h5>
        </section>
      </article>

      <article id="tabs-2" data-tab-index="1">
        <section>
          <h4>URL/URL pattern syntax (important!):</h4>

          <p>1. The wildcard selector <strong>*</strong> can be used to match anything/everything, depending on where you use it.</p>
          
          <p>2. If the URL/URL pattern you want to target includes a prefix such as <strong>www.</strong> (e.g. <strong>www.example.com</strong>),
            then <strong>you need to include this prefix</strong>.</p>

          <p>YouTube example: <strong>www.youtube.com/*</strong> targets all YouTube videos.</p> 
          <p>X example: <strong>x.com/*/status/*</strong> targets all X statuses.</p> 
          <p>Reddit example: <strong>www.reddit.com/r/news/*</strong> targets any posts under the r/news subreddit.</p>
        </section>

        <section class="userlist">
          <header>
            <h2>Block List</h2>
          </header>

          <table id="blocklist">
            <thead>
              <tr>
                <th>URL/URL Pattern</th>
              </tr>
            </thead>
            <tbody>
              <!-- User generated data -->
            </tbody>
          </table>
        </section>

        <section class="listButtons">
          <button type="button" data-list="addNew" data-list-type="blocklist">Add New</button>
          <button type="button" data-list="modifySelected" data-list-type="blocklist" disabled="disabled">Modify Selected</button>
          <button type="button" data-list="removeSelected" data-list-type="blocklist" disabled="disabled">Remove Selected</button>
          <button type="button" data-list="removeAll" data-list-type="blocklist">Remove All</button>
        </section>
        
        <section class="listButtonsSubmit">
          <h5 class="notification">Remember to save any Block list changes below</h5>
          <button type="button" id="saveBlockList">Save Block list Settings</button>
          <h5 class="notification-alert">
            <!--  Generated -->
          </h5>
        </section>

        <section class="userlist">
          <header>
            <h2>Allow List</h2>
          </header>
          
          <table id="allowlist">
            <thead>
              <tr>
                <th>URL/URL Pattern</th>
              </tr>
            </thead>
            <tbody>
              <!-- User generated data -->
            </tbody>
          </table>
        </section>

        <section class="listButtons">
          <button type="button" data-list="addNew" data-list-type="allowlist">Add New</button>
          <button type="button" data-list="modifySelected" data-list-type="allowlist" disabled="disabled">Modify Selected</button>
          <button type="button" data-list="removeSelected" data-list-type="allowlist" disabled="disabled">Remove Selected</button>
          <button type="button" data-list="removeAll" data-list-type="allowlist">Remove All</button>
        </section>

        <section class="listButtonsSubmit">
          <h5 class="notification">Remember to save any Allow List changes below</h5>
          <button type="button" id="saveAllowList">Save Allow List Settings</button>
          <h5 class="notification-alert">
            <!--  Generated -->
          </h5>
        </section>
      </article>

      <article id="tabs-3" data-tab-index="2">
        <div class="accordion">
          <h4>About</h4>

          <div>
            <p>NoComment is a simple Chrome extension for hiding user-generated comments on the web.</p>
            <p>I'd appreciate a rating in the Google store, along with any constructive criticism you have! Alternatively, feel free to 
              <a href="https://github.com/dsgriffin/NoComment/issues">open an issue on GitHub</a> if you've discovered any major problems with the extension.</p>
          </div>

          <h4>Defaults & General Settings</h4>

          <div>
            <p>On a fresh installation, NoComment does <strong>not</strong> block any comments.</p>
            <p>If you'd like to block comments on specific websites/routes only, you can add those websites/routes to your Blocklist.</p>
            <p>If instead you prefer to block comments on ALL websites by default, then you can select the option <strong>Yes (Except Allowlist)</strong> 
              & add any particular websites/routes to your Allowlist if you don't want to block comments on them.</p>
            <p>You'll notice that, by default, comments are "collapsed"; as in, the space they initially took up is completely removed.</p>
            <p>If you prefer, you can change this to "hidden"; the hidden option also hides the comments
              themselves, but keeps the space these comments usually take up when visible.</p>
          </div>

          <h4>Allowlist/Blocklist URL Pattern Syntax</h4>

          <div>
            <p>This is discussed (with example use-cases) at the top of the Allow List/Block List page.</p> 
            <p>It is vital that you remember to include the <code>www.</code> prefix if the website you're using displays it.</p> 
            <p>Just as important is to include the wildcard selector <code>*</code> in the correct place.</p>
          </div>
            
          <h4>Donate</h4>

          <div>
            <p>If you'd like to make a donation (thank you!) you can send one via. <a href="https://paypal.me/dsgriffin" target="blank">paypal.me/dsgriffin</a></p>
          </div>

          <h4>Uninstall NoComment</h4>

          <div>
            <p>First, navigate to the Extensions menu; either type <code>chrome://extensions</code> into the address bar or go to <code>Chrome Menu > Tools > Extensions</code>.</p>
            <p>Then, click the recycle bin icon that is next to the NoComment extension.</p>
          </div>

          <h4>Software Licensing/Code</h4>

          <div>
            <p>Extension License: MIT</p>
            <p>If you decide to use & modify this extensions' code in any way, please ensure the license remains as MIT and a reference to my original project is made.</p>
          </div>
        </div>
      </article>
    </div>

    <footer id="optionsFooter">
      Copyright &copy; 2025 Daniel Griffin. This extension is maintained at <a href="https://github.com/dsgriffin/NoComment" target="blank">Github</a>.
    </footer>

    <script src="options.js"></script>
  </body>
</html>
